.container-fluid {
  background-color: yellow;
  padding: 80px 40px 40px;
  border: 1px solid black;
}

.row {
  border: 1px solid black;
}

.col-md-3 {
  border: 1px solid black;
}

.col-md-12 {
  border: 1px solid black;
}

.col-md-9 {
  border: 1px solid black;
}

.header {
  background-color: blue;
  height: 150px;
}

.navi {
  background-color: green;
  height: 60px;
}

.content {
  background-color: red;
  height: 180px;
}

.aside {
  background-color: aqua;
  height: 180px;
}

.promo {
  background-color: orange;
  height: 150px;
}

.footer {
  background-color: black;
  height: 60px;
  color: white;
}
